doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title WebRTC
    link(rel="stylesheet", href="/public/css/style.css")
  body 
    .full-container 
      header.header
        .logo WebRTC
        .room-name#roomName
      .video-container 
        .video-box
          video#myVideoFrame.video-frame(autoplay,playsinline)
          .btn-box
            button#btnMic
              <i class="fa-solid fa-microphone"></i>
            button#btnCamera
              <i class="fa-solid fa-video"></i>
          button.btn-camera-change#btnChangeCamera
            <i class="fa-solid fa-arrows-rotate"></i>
        .video-box
          video#peerVideoFrame.video-frame(autoplay,playsinline)

    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />